<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        <% if(user){ %>
          <p style ="background-color: azure; border-radius: 3px; padding: 5px; margin: 5px;">Logged In As: <%= user.email %></p>
          <form method="POST" action="/logout">
            <button type="submit">Log Out</button>
          </form>
          <% } else{ %>  
            <div class="nav-item nav-link">
            <a href="/login" name="login">Login</a>
            <a href="/register" name="register">Register</a>
          </div>
          <% } %>
        </div>
      </div>
    </nav>
  </header>
          
          

    
    
  