<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <div id="login-form">
  <form method="post" action="/login">
    <label for="email">Login with your email:</label>
    <br>
    <input type="text" name="email" placeholder="Your Email">
    <br>
    <label for="password">Enter Your Password;</label>
    <br>
    <input type="password" name="password" placeholder="Your Password">
    <br>
    <br>
    <input type="submit" name="login" value="Login">
  </form>
</div>
</body>
</html>
