<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/main.css" type="text/css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body id="login-body">
  
  <div id="login-form">
    <h1 id="title-login">TinyApp<p id="RTM-login-title">&reg;</p></h1>
  <form method="post" action="/login">
    <label for="email">Login With Your Email:</label>
    <br>
    <input type="text" name="email" placeholder="Your Email">
    <br>
    <br>
    <label for="password">Enter Your Password:</label>
    <br>
    <input type="password" name="password" placeholder="Your Password">
    <br>
    <br>
    <p>New User? <a href="/register">Click Here</a><br>to create a new account!</p>
    <input type="submit" id="login-btn" name="login" value="Login">
  </form>
</div>
</body>
</html>
